*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color: white;
    margin-bottom: 20px;
}
img{
    height: 4rem;
    margin: 2rem;
    display: inline;
    vertical-align: middle;
}
h1{
    font-size: 3rem;
    display: inline-block;
    vertical-align:middle;
}
.buttonsection{
    max-width: 1000px;
    background-color:white;
    margin: auto;
    border-radius: 4px 4px 0 0;
    margin-bottom: 3px;
}
.task{
    background-color: lightblue;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    margin: 15px 10px ;
}
.section{
    background-color:white;
    color: lightblue;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    margin: 15px 10px ;
    border: 1.5px solid;
}
.list{
    max-width: 1000px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    margin: auto;
}